{%extends "::Layout.html.twig" %}

{% block title %}congé annuel{% endblock %}

{% block body %}
    <h1>Congé annuel</h1>
    <div class="container">
        {{ form_start(form) }}
        
        {{ form_widget(form) }}    
        {{ form_end(form) }}
    </div>    
{% endblock %}