{%extends "::Layout.html.twig" %}
{% block title %}Demander un congé{% endblock %}



{% block body %}

<style>
    h6 { color: #FF0000; }
</style>

 <div class="m-portlet__head">
            <div class="m-portlet__head-caption">
                <div class="m-portlet__head-title">
                                                    <span class="m-portlet__head-icon m--hide">
                                                        <i class="la la-gear"></i>
                                                    </span>
                    <h3 class="m-portlet__head-text">
                        Demander un congé
                    </h3>
                </div>
            </div>
        </div>
    </div>

<h4><p style="text-align:center; font-size:40px">Type de congé</p></h4> 

<div style="text-align:center; padding:50px; top:10px;">   
<p>
<input type="button" name="http://localhost/stageEte/web/app_dev.php/annualVacation" class="btn btn-brand" value="congé 
annuel" onclick="self.location.href='annualVacation'" onclick> 

<input type="button" name="http://localhost/stageEte/web/app_dev.php/SickVacation" class="btn btn-brand" value="congé maladie" onclick="self.location.href='SickVacation'"onclick> 

<input type="button" name="http://localhost/stageEte/web/app_dev.php/unpaidVacation" class="btn btn-brand" value="congé sans solde" onclick="self.location.href='UnpaidVacation'"onclick> 


<input type="button" name="http://localhost/stageEte/web/app_dev.php/exceptionalVacation" class="btn btn-brand" value="congé exceptionnel"onclick="self.location.href='ExceptionalVacation'"onclick> 

<input type="button" name="http://localhost/stageEte/web/app_dev.php/authorizationVacation"  class="btn btn-brand" value="authorisation de congé" onclick="self.location.href='AuthorizationVacation'"" onclick> 
</p>
</div>

{% endblock %}
