{%extends "@ILANEOConge/LayoutEmployee.html.twig" %}

{% block title %}congé maladie{% endblock %}

{% block body %}
    <h1>Congé maladie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}