{%extends "@ILANEOConge/LayoutEmployee.html.twig" %}

{% block title %}congé sans solde{% endblock %}

{% block body %}
    <h1>Congé sans solde</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}
