<p>
    Bonjour {{ userFirstname }},

    Suite à une demande de réinitialisation de votre mot de passe, voici votre nouveau mot de passe : |Nouveau mot de passe].

    A très vite
    L'équipe ILANEO.
</p>